<div class="container-xxl">
    <div class="authentication-wrapper authentication-basic container-p-y">
        <div class="authentication-inner">
            <!-- Register -->
            <div class="card">
                <div class="card-body">
                    <!-- Logo -->
                    <div class="app-brand justify-content-center">
                        <a href="/" class="app-brand-link gap-2">
                            <span class="app-brand-logo demo">
                                <svg width="25" viewBox="0 0 25 42" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                    <defs>
                                        <path d="M13.7918663,0.358365126 L3.39788168,7.44144159 C0.566865006,9.69408886 -0.379795268,12.4788597 0.557900856,15.7960551 C0.933988085,16.7494556 1.58107913,17.5587821 2.31759991,18.1215703 L2.31759991,18.1215703 C2.68917157,18.3790435 3.09367278,18.581 3.5,18.581 C3.90632722,18.581 4.31082843,18.3790435 4.68240009,18.1215703 L4.68240009,18.1215703 C5.41892087,17.5587821 6.06601192,16.7494556 6.44209914,15.7960551 C7.37879544,12.4788597 6.39513499,9.69408886 3.56213501,7.44144159 L13.7918663,0.358365126 Z" id="path-1"></path>
                                        <path d="M13.7918663,0.358365126 L3.39788168,7.44144159 C0.566865006,9.69408886 -0.379795268,12.4788597 0.557900856,15.7960551 C0.933988085,16.7494556 1.58107913,17.5587821 2.31759991,18.1215703 L2.31759991,18.1215703 C2.68917157,18.3790435 3.09367278,18.581 3.5,18.581 C3.90632722,18.581 4.31082843,18.3790435 4.68240009,18.1215703 L4.68240009,18.1215703 C5.41892087,17.5587821 6.06601192,16.7494556 6.44209914,15.7960551 C7.37879544,12.4788597 6.39513499,9.69408886 3.56213501,7.44144159 L13.7918663,0.358365126 Z" id="path-2"></path>
                                    </defs>
                                    <g id="g-app-brand" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                        <g id="Brand-Logo" transform="translate(-27.000000, -15.000000)">
                                            <g id="Icon" transform="translate(27.000000, 15.000000)">
                                                <path d="M13.7918663,0.358365126 L3.39788168,7.44144159 C0.566865006,9.69408886 -0.379795268,12.4788597 0.557900856,15.7960551 C0.933988085,16.7494556 1.58107913,17.5587821 2.31759991,18.1215703 L2.31759991,18.1215703 C2.68917157,18.3790435 3.09367278,18.581 3.5,18.581 C3.90632722,18.581 4.31082843,18.3790435 4.68240009,18.1215703 L4.68240009,18.1215703 C5.41892087,17.5587821 6.06601192,16.7494556 6.44209914,15.7960551 C7.37879544,12.4788597 6.39513499,9.69408886 3.56213501,7.44144159 L13.7918663,0.358365126 Z" id="Shape" fill="#696cff"></path>
                                                <path d="M13.7918663,0.358365126 L3.39788168,7.44144159 C0.566865006,9.69408886 -0.379795268,12.4788597 0.557900856,15.7960551 C0.933988085,16.7494556 1.58107913,17.5587821 2.31759991,18.1215703 L2.31759991,18.1215703 C2.68917157,18.3790435 3.09367278,18.581 3.5,18.581 C3.90632722,18.581 4.31082843,18.3790435 4.68240009,18.1215703 L4.68240009,18.1215703 C5.41892087,17.5587821 6.06601192,16.7494556 6.44209914,15.7960551 C7.37879544,12.4788597 6.39513499,9.69408886 3.56213501,7.44144159 L13.7918663,0.358365126 Z" id="Shape" fill="#696cff"></path>
                                            </g>
                                        </g>
                                    </g>
                                </svg>
                            </span>
                            <span class="app-brand-text demo text-body fw-bolder">FoodTruck</span>
                        </a>
                    </div>
                    <!-- /Logo -->
                    <h4 class="mb-2">Welcome to FoodTruck Express! 👋</h4>
                    <p class="mb-4">Please sign-in to your account and start the adventure</p>

                    <form id="formAuthentication" class="mb-3" action="/auth/login" method="POST">
                        <div class="mb-3">
                            <label for="email" class="form-label">Email or Username</label>
                            <input type="text" class="form-control" id="email" name="email-username" placeholder="Enter your email or username" autofocus>
                        </div>
                        <div class="mb-3 form-password-toggle">
                            <div class="input-group input-group-merge">
                                <input type="password" id="password" class="form-control" name="password" placeholder="&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;&#xb7;" aria-describedby="password">
                                <span class="input-group-text cursor-pointer"><i class="bx bx-hide"></i></span>
                            </div>
                        </div>
                        <div class="mb-3">
                            <div class="form-check">
                                <input class="form-check-input" type="checkbox" id="remember-me">
                                <label class="form-check-label" for="remember-me">
                                    Remember Me
                                </label>
                            </div>
                        </div>
                        <div class="mb-3">
                            <button class="btn btn-primary d-grid w-100" type="submit">Sign in</button>
                        </div>
                    </form>

                    <p class="text-center">
                        <span>New on our platform?</span>
                        <a href="/auth/register">
                            <span>Create an account</span>
                        </a>
                    </p>

                    <div class="divider my-4">
                        <div class="divider-text">or</div>
                    </div>

                    <div class="d-flex justify-content-center">
                        <a href="javascript:;" class="btn btn-icon btn-label-facebook me-3">
                            <i class="tf-icons bx bxl-facebook"></i>
                        </a>

                        <a href="javascript:;" class="btn btn-icon btn-label-google-plus me-3">
                            <i class="tf-icons bx bxl-google"></i>
                        </a>

                        <a href="javascript:;" class="btn btn-icon btn-label-twitter">
                            <i class="tf-icons bx bxl-twitter"></i>
                        </a>
                    </div>
                </div>
            </div>
            <!-- /Register -->
        </div>
    </div>
</div> 