<!DOCTYPE html>
<html lang="en" class="light-style layout-menu-fixed">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />
    <title><%= title || 'FoodTruck Express' %></title>
    <meta name="description" content="" />
    
    <!-- Favicon -->
    <link rel="icon" type="image/x-icon" href="/images/favicon-32x32.png" />
    
    <!-- Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link href="https://fonts.googleapis.com/css2?family=Public+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet" />
    
    <!-- Icons. Uncomment required icon fonts -->
    <link rel="stylesheet" href="/fonts/boxicons.css" />
    <!-- <link rel="stylesheet" href="/fonts/feather.css" /> -->
    <!-- <link rel="stylesheet" href="/fonts/line-awesome.css" /> -->
    
    <!-- Core CSS -->
    <link rel="stylesheet" href="/css/bootstrap-extended.css" />
    <link rel="stylesheet" href="/css/app.css" />
    <link rel="stylesheet" href="/css/extra-icons.css" />
    
    <!-- Vendors CSS -->
    <% if (locals.vendorCSS) { %>
        <% vendorCSS.forEach(css => { %>
            <link rel="stylesheet" href="<%= css %>" />
        <% }); %>
    <% } %>
    
    <!-- Page CSS -->
    <% if (locals.pageCSS) { %>
        <% pageCSS.forEach(css => { %>
            <link rel="stylesheet" href="<%= css %>" />
        <% }); %>
    <% } %>
</head>
</rewritten_file> 